---
import "./app.postcss";
import GithubReport from "@/components/GithubReport.svelte";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html class="dark" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col">
		<main class="flex-grow">
			<slot />
		</main>
		<footer class="prose container mx-auto px-4 w-full py-2">
			<GithubReport client:only />
		</footer>
	</body>
</html>
